services:
  - type: web
    name: felicity-backend
    runtime: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRE
        value: 7d
      - key: EMAIL_PROVIDER
        value: brevo
      - key: BREVO_API_KEY
        sync: false
      - key: EMAIL_FROM
        sync: false
      - key: FROM_NAME
        value: Felicity Fest
      - key: FRONTEND_URL
        sync: false        # set to your Vercel URL, e.g. https://felicity-event-manager.vercel.app
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: RECAPTCHA_SECRET_KEY
        sync: false
      - key: DISCORD_WEBHOOK_URL
        sync: false
